<!-- <h2>List of Rented Books</h2>
<table border="1">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Author</th>
    <th>Category</th>

  </thead>

  <tr *ngFor = "let book of booksList" >
    <td *ngIf ="book.isRented">{{book._id}}</td>
    <td *ngIf ="book.isRented">{{book.title}}</td>
    <td *ngIf ="book.isRented">{{book.author}}</td>
    <td *ngIf ="book.isRented">{{book.category}}</td>
    <td *ngIf="book.isRented"><button (click)="returnBook(book._id)">Return</button></td>
  </tr>
</table> -->


<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Book List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped ">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Category</th>
      </thead>
      <tbody>
        <tr *ngFor="let book of booksList">
          <td>{{ book._id }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.category }}</td>
          <td *ngIf="book.isRented"><button (click)="returnBook(book._id)">Return</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
